{% extends "layout.html" %}

{%block title%}
<title>GSPFMB Newsfeed</title>
{% endblock %}

{%block content%}
<h1>BADASS NEWS</h1>
<table border="1" style="width:100%">
    <tr>
        <th>Title</th>
        <th>By</th>
        <th>Likes</th>
        <th>Dislikes</th>
        <th>Time Since Epoch Posted</th>
    </tr>
    {% for item in data %}
    <tr>
        <td><a href="{{item.url}}">{{item.title}}</a></td>
        <td>{{item.by}}</td>
        <td>{{item.likes}}</td>
        <td>{{item.dislikes}}</td>
        <td>{{item.time}}</td>
    </tr>
    {%endfor%}
</table>
{% endblock %}